.bus_none{
    display: none;
}

.buscar{
}

.buscar input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    color: black;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    width: 45px;
    height: 44px;
    line-height: 55px;
    position: absolute;
    top: 11px;
    right: 11px;
    /* background-color: #E2001Ac8; */
    background-color: rgba(226, 0, 26, 0.9);
    line-height: 45px;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}
    
.buscar input:focus{  
    width: 240px;
}

.buscar_apli select  { 
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: black;
    outline: none;
    border: 1px solid  #ffffff;
    border-radius: 30px;
    transition: all 0.6s ease;
    background-color: #FFFFFF;
}

.buscar_apli{
    padding: 13px;
    left: 50px;
    z-index: -1;
}

.buscar_apli:hover select {
    width: 180px;
}

select:focus{ outline: none;}

.buscar_apli::after{
	content:"\025be";
	display:table-cell;
	text-align:center;
    width: 47px;
    height: 44px;
    line-height: 40px;
	background-color: #E2001A;
	position:absolute;
	top:12px;
	right:9px;	
	pointer-events: none;
    border-radius: 50%;
    font-size: 35px;
}

.lupa{ 
    margin-top: 6px;
}

.carrito_compras {
    cursor: pointer;
    width: 3em;
    height: 3em;
    margin-left: 7.5em;
    margin-top: 0.5em;
    background-color: white;
    border-radius: 50%;
}

.num_productos_carrito {
    margin-top: -1.5em;
    margin-left: 9.5em;
    background-color: black;
    position: absolute;
    padding: 0.45em;
    border-radius: 75%;
}