.footerr {
    background-color: rgb(157, 158, 158);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}


.flex_conte_abajo
{
    max-width: 1200px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.abaut__footer_d {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.div_fex_comprar
{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
}

.div_fex_distr
{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
}

.footer_redes 
{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.redes 
{
    background-repeat: no-repeat;
    background-size: 30px;
    height: 45px;
    width: 45px;
    background-position: center;
    background-color: rgba(114, 114, 113);
    border-radius: 3rem;
}

.face
{
    background-image: url(./../img/svg/facebook.svg);
}

.twi
{
    background-image: url(./../img/svg/twitter.svg);
}

.inst
{
    background-image: url(./../img/svg/instagram.svg);
}

.for
{
    max-width: 150px;
}

.container_text 
{
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    max-width: 100%;
}


/*-------------------------*/

.input_cont{
    background-color: #fbfbfb;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 15;
    float: left;
}
  
  
.textarea_msj{
    background-color: #fbfbfb;
    width: 100%;
    height: 100px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    float: left;
}